@import 'tailwindcss';
@import './font.css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--base-color-background-primary: var(--color-gray-100);
	--base-color-background-secondary: var(--color-gray-950);
	--base-color-foreground-primary: var(--color-gray-900);
	--base-color-foreground-secondary: var(--color-gray-700);
}

.dark {
	--base-color-background-primary: var(--color-gray-900);
	--base-color-background-secondary: var(--color-gray-50);
	--base-color-foreground-primary: var(--color-gray-100);
	--base-color-foreground-secondary: var(--color-gray-300);
}

@theme {
	--default-font-family: OmnesArabic;
	--default-transition-duration: 500ms;

	--color-accent-primary: var(--color-purple-600);
	--color-accent-primary-tint: var(--color-purple-500);
	--color-accent-primary-tint-extra: var(--color-purple-400);
	--color-accent-primary-shade: var(--color-purple-700);
	--color-accent-secondary: var(--color-yellow-600);
	--color-accent-secondary-tint: var(--color-yellow-500);
	--color-accent-secondary-shade: var(--color-yellow-700);
	--color-accent-tertiary: var(--color-blue-600);
	--color-accent-tertiary-tint: var(--color-blue-500);
	--color-accent-tertiary-shade: var(--color-blue-700);
	--color-danger: var(--color-red-600);
	--color-danger-tint: var(--color-red-500);
	--color-danger-shade: var(--color-red-700);
	--color-success: var(--color-emerald-600);
	--color-success-tint: var(--color-emerald-500);
	--color-success-shade: var(--color-emerald-700);
	--color-background-primary: var(--base-color-background-primary);
	--color-background-secondary: --alpha(var(--base-color-background-secondary) / 10%);
	--color-background-tertiary: --alpha(var(--base-color-background-secondary) / 5%);
	--color-foreground-primary: var(--base-color-foreground-primary);
	--color-foreground-secondary: var(--base-color-foreground-secondary);
	--color-foreground-accent: var(--color-gray-100);
	--color-stroke-primary: --alpha(var(--color-foreground-primary) / 5%);
	--color-stroke-secondary: --alpha(var(--color-foreground-primary) / 15%);
	--color-stroke-tertiary: --alpha(var(--color-gray-100) / 25%);

	--text-2xs: 0.625rem;

	--spacing-content-padding: --spacing(5);

	--shadow-absolute-content: 0px 0px 2.25rem --alpha(var(--color-background-primary) / 33%);

	--ease-overshoot-extra-light: linear(
		0,
		0.177 4%,
		0.335 8.1%,
		0.476 12.3%,
		0.601 16.7%,
		0.708 21.2%,
		0.755 23.5%,
		0.8 25.9%,
		0.839 28.3%,
		0.875 30.8%,
		0.907 33.3%,
		0.935 35.9%,
		0.956 38.2%,
		0.975 40.5%,
		0.991 42.9%,
		1.004 45.4%,
		1.016 48%,
		1.024 50.6%,
		1.031 53.4%,
		1.035 56.3%,
		1.037 60.6%,
		1.035 65.5%,
		1.029 70.7%,
		1.006 87.9%,
		1.001 93.9%,
		1
	);
	--ease-overshoot-light: linear(
		0,
		0.193 3.9%,
		0.366 7.9%,
		0.518 12%,
		0.653 16.3%,
		0.712 18.5%,
		0.766 20.7%,
		0.817 23%,
		0.862 25.3%,
		0.902 27.6%,
		0.938 30%,
		0.97 32.5%,
		0.998 35%,
		1.017 37.1%,
		1.034 39.3%,
		1.049 41.6%,
		1.06 43.9%,
		1.069 46.3%,
		1.075 48.7%,
		1.079 51.3%,
		1.08 54%,
		1.077 58.4%,
		1.069 63.3%,
		1.058 68%,
		1.025 80.2%,
		1.011 86.9%,
		1.002 93.3%,
		1
	);
	--ease-overshoot-medium: linear(
		0,
		0.229 3.8%,
		0.428 7.6%,
		0.601 11.5%,
		0.754 15.6%,
		0.821 17.7%,
		0.881 19.8%,
		0.937 22%,
		0.986 24.2%,
		1.031 26.5%,
		1.069 28.8%,
		1.102 31.2%,
		1.129 33.6%,
		1.146 35.5%,
		1.161 37.5%,
		1.172 39.5%,
		1.181 41.6%,
		1.186 43.8%,
		1.189 46%,
		1.188 48.3%,
		1.185 50.7%,
		1.174 54.7%,
		1.155 59.3%,
		1.132 63.8%,
		1.062 76.4%,
		1.043 80.3%,
		1.028 83.9%,
		1.015 87.9%,
		1.006 91.8%,
		1.001 95.7%,
		1
	);
	--ease-overshoot-heavy: linear(
		0,
		0.264 3.7%,
		0.49 7.4%,
		0.692 11.3%,
		0.864 15.3%,
		0.937 17.3%,
		1.005 19.4%,
		1.065 21.5%,
		1.12 23.7%,
		1.167 25.9%,
		1.206 28.1%,
		1.24 30.4%,
		1.267 32.8%,
		1.283 34.6%,
		1.296 36.4%,
		1.305 38.3%,
		1.311 40.2%,
		1.314 42.2%,
		1.313 44.2%,
		1.309 46.4%,
		1.301 48.6%,
		1.282 52.5%,
		1.252 56.9%,
		1.217 61.3%,
		1.105 74.4%,
		1.074 78.6%,
		1.048 82.5%,
		1.026 86.9%,
		1.011 91.1%,
		1.002 95.4%,
		1
	);
}

@utility rtl {
	direction: rtl;
}
@utility ltr {
	direction: ltr;
}

@utility scrollbar-hidden {
	&::-webkit-scrollbar {
		display: none;
	}
	& {
		scrollbar-width: none;
	}
}

@utility bg-gradient {
	@apply bg-linear-to-b bg-size-[100%,110%] bg-center;
}
@utility bg-gradient-neutral/25 {
	@apply from-background-secondary to-background-tertiary;
}
@utility bg-gradient-primary {
	@apply from-accent-primary-tint to-accent-primary-shade;
}
@utility bg-gradient-primary/25 {
	@apply from-accent-primary-tint/25 to-accent-primary-shade/25;
}
@utility bg-gradient-secondary {
	@apply from-accent-secondary-tint to-accent-secondary-shade;
}
@utility bg-gradient-secondary/25 {
	@apply from-accent-secondary-tint/25 to-accent-secondary-shade/25;
}
@utility bg-gradient-tertiary {
	@apply from-accent-tertiary-tint to-accent-tertiary-shade;
}
@utility bg-gradient-tertiary/25 {
	@apply from-accent-tertiary-tint/25 to-accent-tertiary-shade/25;
}
@utility bg-gradient-danger {
	@apply from-danger-tint to-danger-shade;
}
@utility bg-gradient-danger/25 {
	@apply from-danger-tint/25 to-danger-shade/25;
}
@utility bg-gradient-success {
	@apply from-success-tint to-success-shade;
}
@utility bg-gradient-success/25 {
	@apply from-success-tint/25 to-success-shade/25;
}
