@import 'tailwindcss';
@import '$lib/styles/font.css';

@theme {
	--default-font-family: OmnesArabic;

	--color-background-primary: var(--color-gray-900);
	--color-foreground-primary: var(--color-gray-50);
}
