@import 'tailwindcss';
@import './font.css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	--base-color-background-primary: var(--color-gray-100);
	--base-color-background-secondary: var(--color-gray-950);
	--base-color-foreground-primary: var(--color-gray-900);
	--base-color-foreground-secondary: var(--color-gray-700);
}

.dark {
	--base-color-background-primary: var(--color-gray-900);
	--base-color-background-secondary: var(--color-gray-50);
	--base-color-foreground-primary: var(--color-gray-100);
	--base-color-foreground-secondary: var(--color-gray-300);
}

@theme {
	--default-font-family: OmnesArabic;
	--default-transition-duration: 500ms;

	--color-accent-primary: var(--color-purple-600);
	--color-accent-primary-tint: var(--color-purple-500);
	--color-accent-primary-tint-extra: var(--color-purple-400);
	--color-accent-primary-shade: var(--color-purple-700);
	--color-accent-secondary: var(--color-yellow-600);
	--color-accent-secondary-tint: var(--color-yellow-500);
	--color-accent-secondary-shade: var(--color-yellow-700);
	--color-accent-tertiary: var(--color-blue-600);
	--color-accent-tertiary-tint: var(--color-blue-500);
	--color-accent-tertiary-shade: var(--color-blue-700);
	--color-danger: var(--color-red-600);
	--color-danger-tint: var(--color-red-500);
	--color-danger-shade: var(--color-red-700);
	--color-success: var(--color-emerald-600);
	--color-success-tint: var(--color-emerald-500);
	--color-success-shade: var(--color-emerald-700);
	--color-background-primary: var(--base-color-background-primary);
	--color-background-secondary: --alpha(var(--base-color-background-secondary) / 10%);
	--color-background-tertiary: --alpha(var(--base-color-background-secondary) / 5%);
	--color-foreground-primary: var(--base-color-foreground-primary);
	--color-foreground-secondary: var(--base-color-foreground-secondary);
	--color-foreground-accent: var(--color-gray-100);
	--color-stroke-primary: --alpha(var(--color-foreground-primary) / 5%);
	--color-stroke-secondary: --alpha(var(--color-foreground-primary) / 15%);
	--color-stroke-tertiary: --alpha(var(--color-gray-100) / 25%);

	--text-2xs: 0.625rem;

	--spacing-content-padding: --spacing(5);

	--shadow-absolute-content: 0px 0px 2.25rem --alpha(var(--color-background-primary) / 33%);

	--ease-overshoot-light: linear(
		0,
		0.341 7.8%,
		0.609 16.1%,
		0.807 25%,
		0.882 29.8%,
		0.941 34.8%,
		1.007 44%,
		1.035 54.6%,
		1.035 63.2%,
		1.006 86.3%,
		1
	);
	--ease-overshoot-medium: linear(
		0,
		0.372 7.6%,
		0.658 15.6%,
		0.866 24.2%,
		0.942 28.8%,
		1.002 33.7%,
		1.036 37.8%,
		1.061 42.2%,
		1.075 46.9%,
		1.08 52%,
		1.069 61%,
		1.011 85%,
		1
	);
	--ease-overshoot-heavy: linear(
		0,
		0.402 7.4%,
		0.711 15.3%,
		0.929 23.7%,
		1.008 28.2%,
		1.067 33%,
		1.099 36.9%,
		1.12 41%,
		1.13 45.4%,
		1.13 50.1%,
		1.111 58.5%,
		1.019 83.2%,
		1.004 91.3%,
		1
	);
	--animate-shine: shine 4s linear infinite;
	@keyframes shine {
		to {
			background-position-x: -400%;
		}
	}
}

@utility scrollbar-hidden {
	&::-webkit-scrollbar {
		display: none;
	}
	& {
		scrollbar-width: none;
	}
}

@utility bg-gradient {
	@apply bg-linear-to-b bg-size-[100%,110%] bg-center;
}
@utility bg-gradient-neutral/25 {
	@apply from-background-secondary to-background-tertiary;
}
@utility bg-gradient-primary {
	@apply from-accent-primary-tint to-accent-primary-shade;
}
@utility bg-gradient-primary/25 {
	@apply from-accent-primary-tint/25 to-accent-primary-shade/25;
}
@utility bg-gradient-secondary {
	@apply from-accent-secondary-tint to-accent-secondary-shade;
}
@utility bg-gradient-secondary/25 {
	@apply from-accent-secondary-tint/25 to-accent-secondary-shade/25;
}
@utility bg-gradient-tertiary {
	@apply from-accent-tertiary-tint to-accent-tertiary-shade;
}
@utility bg-gradient-tertiary/25 {
	@apply from-accent-tertiary-tint/25 to-accent-tertiary-shade/25;
}
@utility bg-gradient-danger {
	@apply from-danger-tint to-danger-shade;
}
@utility bg-gradient-danger/25 {
	@apply from-danger-tint/25 to-danger-shade/25;
}
@utility bg-gradient-success {
	@apply from-success-tint to-success-shade;
}
@utility bg-gradient-success/25 {
	@apply from-success-tint/25 to-success-shade/25;
}
